* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-color: 10;
  --base-color-10: hsla(var(--base-color), 10%, 50%);
  --base-color-20: hsla(var(--base-color), 20%, 50%);
  --base-color-30: hsla(var(--base-color), 30%, 50%);
  --base-color-40: hsla(var(--base-color), 40%, 50%);
  --base-color-50: hsla(var(--base-color), 50%, 50%);
  --base-color-60: hsla(var(--base-color), 60%, 50%);
  --base-color-70: hsla(var(--base-color), 70%, 50%);
  --base-color-80: hsla(var(--base-color), 80%, 50%);
  --base-color-90: hsla(var(--base-color), 90%, 50%);
  --base-color-100: hsla(var(--base-color), 100%, 50%);
  --base-font-color: hsla(0, 0%, 0%);
  --nav-font-color: var(--base-color-70);
  --contrast-font-color: hsla(0, 0%, 100%);
  --section-background-color: hsla(0, 0%, 100%);
  --section-background-color-alt: hsla(0, 0%, 90%);
  --base-font-size: 1.25rem;
  --font-size-500: 250%;
  --font-size-400: 200%;
  --font-size-300: 150%;
  --font-size-200: 125%;
  --font-size-75: 85%;
  --line-height: 150%;
}

html {
  /* this is so that the background is black at the top and white at the bottom when over-scrolling (in some browsers, at least) */
  background: linear-gradient(hsl(0, 0%, 0%), hsl(0, 0%, 0%) 50%, hsl(0, 0%, 100%) 50%) fixed;
  color: var(--base-font-color);
  font-size: .625rem;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font: 400 var(--base-font-size)/2rem monospace;
  font-synthesis: none;
  font-variant-numeric: oldstyle-nums;
  -moz-hanging-punctuation: first last allow-end;
  -ms-hanging-punctuation: first last allow-end;
  -webkit-hanging-punctuation: first last allow-end;
  hanging-punctuation: first last allow-end;
  min-height: 100vh;
}

form,
h1,
h2,
h3,
h4,
nav {
  font-family: "nosignal", sans-serif;
}

a {
  color: var(--base-color-50);
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
}

a:hover {
  color: var(--base-color-60);
  font-weight: 800;
}

article ul {
  margin-left: 1rem;
  list-style: square;
}

blockquote,
p,
ul {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-bottom: 1.5rem;
}

blockquote {
  text-align: center;
  color: var(--contrast-font-color);
  background-color: var(--base-color-70);
  text-transform: uppercase;
  font-size: var(--font-size-75);
  line-height: var(--line-height);
  padding: .5rem;
}

button {
  background: var(--base-color-70);
  border-color: var(--base-color-30);
  color: var(--contrast-font-color);
  padding: 1rem;
}

button:hover {
  background: var(--base-color-60);
  color: var(--contrast-font-color);
}

button,
input,
textarea {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: .0625rem solid var(--base-color-10);
  font: inherit;
  padding: .125rem .25rem;
}

fieldset {
  border: 0;
}

fieldset:last-child {
  text-align: right;
}

form {
  margin-bottom: 3em;
}

h1 {
  font-size: var(--font-size-500);
  font-weight: 700;
  line-height: calc(var(--line-height) * .5);
}

h2 {
  font-size: var(--font-size-400);
  font-weight: 700;
  line-height: var(--line-height);
}

h3 {
  font-size: var(--font-size-400);
  font-weight: 700;
  line-height: var(--line-height);
}

h3 + * {
  margin-top: 1.5rem;
}

section h3 {
  padding-bottom: .5rem;
  border-bottom: 5px dotted;
  text-transform: uppercase;
}

h4 {
  font-size: var(--font-size-300);
  font-weight: 700;
  line-height: var(--line-height);
  color: var(--base-color-70);
}

h4:before {
  content: "<";
}

h4:after {
  content: ">";
}

iframe[src*="youtube"] {
  height: 23.625rem;
  width: 100%;
}

iframe[src*="bandcamp"] {
  border: none;
}

input {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 1.5rem;
}

label > :first-child {
  padding: .25rem .75rem .25rem;
  width: calc(10% - 1.5rem);
}

nav a {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--nav-font-color);
}

nav li {
  padding: 0 .75rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* work around weird Hugo output */
p:empty {
  display: none;
}

section {
  background: var(--section-background-color);
  color: var(--base-font-color);
  margin-bottom: -3rem;
}

textarea {
  width: 100%;
  min-height: 6.25rem;
  resize: none;
}

.alt-row {
  background: var(--section-background-color-alt);
}

.animated {
  display: block;
}

.static {
  display: none;
}

.article figure {
  margin-bottom: 1.5rem;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}

.articles h4 {
  margin: 0.4rem 0rem;
}

.articles img {
  width: 100%;
}

.articles > li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.articles > li p:nth-last-child(2) {
  flex: 1;
}

.blurry {
  background: hsla(0, 0%, 0%, .8);
  -moz-backdrop-filter: saturate(180%) blur(1.25rem);
  -ms-backdrop-filter: saturate(180%) blur(1.25rem);
  -webkit-backdrop-filter: saturate(180%) blur(1.25rem);
  backdrop-filter: saturate(180%) blur(1.25rem);
}

.cloud ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}

.cloud a:after {
  content: ",";
}

.cloud li {
  margin-right: .5em;
}

.footer {
  font-size: var(--font-size-75);
  text-align: center;
}

.footer p {
  margin: 0;
}

.gitinfo a {
  color: var(--contrast-font-color);
}

.gitinfo a:hover {
  color: var(--contrast-font-color);
}

.gitinfo h2 {
  font-size: var(--font-size-100);
  line-height: var(--line-height);
  margin: 1rem;
}

.header {
  z-index: 1;
  top: -1.5rem;
}

.hero {
  font-size: var(--font-size-75);
  line-height: var(--line-height);
}

.hero h4 {
  padding-left: .75rem;
}

.hero .article {
  background-color: var(--section-background-color-alt);
  margin-bottom: 3rem;
}

.hero .article p {
  padding: 1rem;
  margin-bottom: 0rem;
}

.hero .article img {
  height: 10rem;
  width: 100%;
  float: left;
  left: 0;
  object-fit: cover;
  opacity: 0.25;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.internal-link {
  padding-top: 90px;
  margin-top: -90px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.small-caps {
  font-size: var(--font-size-75);
  letter-spacing: .0625rem;
  text-transform: uppercase;
}

.splash {
  display: flex;
  flex-direction: column;
  min-height: 14.0625rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: var(--contrast-font-color);
  /* min-height: calc(var(--font-size-500) * 5); */
}

.splash img {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}

.splash .wrap {
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  text-shadow: 0 .125rem .375rem hsla(0, 0%, 0%, .5);
}

.splash h1 {
  margin-top: 4rem;
}

.splash h2 {
  /* line-height: 100%; */
}

.sticky {
  position: -moz-sticky;
  position: -ms-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wrap {
  max-width: 66rem;
  margin: 0 auto;
  padding: 1.5rem;
}

@media (min-width: 200px) {
  html {
    font-size: .75rem;
  }
}

@media (min-width: 375px) {
  html {
    font-size: .875rem;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.125rem;
  }

  .articles > li {
    width: calc(50% - 1.5rem);
  }

  .articles > li:nth-child(odd) {
    margin-right: 3rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1.25rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    marquee-style: none !important;
    scroll-snap-type: none !important;
    scroll-behavior: auto !important;
  }
  .animated {
    display: none;
  }
  .static {
    display: block;
  }
}
