<figure class="splash">
  <img alt="splash image" data-src="/images/animated/splash/{{ .Params.Image }}" class="animated lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  <img alt="splash image" data-src="/images/static/splash/{{ .Params.Image }}" class="static lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  <div class="wrap">
    <h1>{{.Params.Heading}}</h1>
    {{ with .Params.Subheading }}
      <h2>{{ . }}</h2>
    {{ end }}
  </div>
</figure>
