<section class="header blurry sticky">
  <div class="wrap">
    <nav>
      <ul class="menu small-caps">
        <li>
          <a href="/">[***]</a>
        </li>
        <li>
          <a href="#featured">[Featured Work]</a>
        </li>
        <li>
          <a href="#streaming">[Live in Studio]</a>
        </li>
        <li>
          <a href="#music">[Music Projects]</a>
        </li>
        <li>
          <a href="#mixed-media">[Mixed Media]</a>
        </li>
        <li>
          <a href="#inspirations">[Inspirations]</a>
        </li>
        <li>
          <a href="#contact">[Contact Me]</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
